---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Admin Page">
    <NavBar />
    <!-- <h1>Post a job</h1> -->
    
    <Footer />
</Layout>

<style>

</style>