---
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Identity from '../components/Identity.astro';
import JobCarousel from '../components/JobCarousel';
import Footer from '../components/Footer.astro';
---

<Layout title="Career Services Portal">
  <NavBar />
  <main class="min-h-screen flex flex-col">
    <Hero />
    <Identity />
    <JobCarousel client:load />
    <Footer />
  </main>
</Layout>
