---
import TitlePage from '../components/TitlePage.astro';
import BottomText from '../components/BottomText.astro';
import BottomColumns from '../components/BottomColumns.astro';
import NavBar from '../components/NavBar.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home page</title>
  </head>
  <body>
  

	<NavBar />



    <section class="relative overflow-hidden">
		<TitlePage 
		topText="Find your job gang unless..."
		bottomText='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin vel nisl ac maximus. Integer ante urna, imperdiet.'
		buttonRight = "Idk its 3:00am"
		buttonLeft='Try now'
		/>
    </section>
<!-- end of the first section -->
    <section>
        <BottomText 
		title="AnuelAA"
		header="Our Indentity"
		/>
        
    </section>
  </body>
</html>

<style></style>

<script></script>