#job-info-panel {
  width: 55%;
  /* margin-top: 3vw; */
  margin-bottom: 3vw;
  margin-right: 4vw;
  /* margin-left: 0.5vw; */
  border-radius: 1rem;
  border: 3px solid black;
  overflow: hidden;
  max-height: 70vh;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.247);
}

#header {
  text-align: center;
  background-color: lightgray;
  border-bottom: 3px solid black;
  font-weight: 500;
  padding: 1vw;
  font-size: 1.2vw;
}

#job-details {
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 20vh;
  div {
    h1 {
      font-size: 2vw;
      margin: 1vw;
      margin-left: 2vw;
      font-weight: 500;
    }
  }
}

.job-info-section {
  margin: 1vw;
  margin-left: 2vw;
  h2 {
    font-size: 1.4vw;
    font-weight: 500;
  }
  h3 {
    font-size: 1.2vw;
    font-weight: 400;
  }
  p {
    background-color: lightgray;
    padding: 0.2vw;
    padding-left: 0.4vw;
    padding-right: 0.4vw;
    border-radius: 0.4rem;
    width: fit-content;
  }
}

#no-job-selected {
  text-align: center;
  font-size: 1.2vw;
  padding: 1vw;
}

#button-wrapper {
  margin-top: 8vh;
  display: flex;
  justify-content: space-evenly;
}

.button {
  color: white;
  border: 3px solid rgb(71, 71, 71);
  border-radius: 0.6rem;
  font-weight: 500;
  padding: 0.4vw;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  font-size: 1.2vw;
}

.approve {
  background-color: #0971e9;
  transition: all 0.3s ease;
}
.approve:hover {
  background-color: #1756ad;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.reject {
  background-color: orangered;
  transition: all 0.3s ease;
}
.reject:hover {
  background-color: rgb(189, 55, 7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
