---
interface Props{
    title: string;
    header: string;
}

const {title, header} = Astro.props;
---


 
      <div id="top-text" class="mb-16 max-w-md mx-auto text-center">
        <p class="text-green-600 font-bold">
          {title}
        </p>
        <h2 class="text-4xl md:text-5xl font-bold">
          {header}
        </h2>
      </div>