---
let isEmployer = false;
let isAdmin = false;

const links = [
  { name: "Home", href: "/" },
  { name: "Jobs", href: "/" },
  { name: "Companies", href: "/" },
  { name: "Contact", href: "/contact" },
  { name: "Log In", href: "/login" },
];

if (isEmployer) {
  links.push({ name: "Post a Job", href: "/jobUpload" });
} else if (isAdmin) {
  links.push({ name: "Admin Hub", href: "/AdminPage" });
}
---

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>TalentLink Navigation</h4>
        <ul>
          {
            links.map((link) => (
              <li>
                <a href={link.href}>{link.name}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <!-- <div class="footer-col">
        <h4>Helpful Links</h4>
        <ul>
          <li><a href="#">Web</a></li>
          <li><a href="#">App</a></li>
          <li><a href="#">Logging Help</a></li>
          <li><a href="#">Subscription</a></li>
          <li><a href="#">Other Services</a></li>
        </ul>
      </div> -->

      <div class="footer-col">
        <h4>Contact Us</h4>
        <div class="social-links">
          <img
            alt=""
            src="https://icones.pro/wp-content/uploads/2021/03/logo-icone-tiktok-simbolo-noir.png"
          />
          <img
            alt=""
            src="https://www.iconpacks.net/icons/2/free-instagram-logo-icon-3497-thumb.png"
          /><i class="fab"></i>
          <img
            alt=""
            src="https://cdn-icons-png.flaticon.com/256/20/20673.png"
          /><i class="fab"></i>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  .container {
    max-width: 1170px;
    margin: auto;
    margin-bottom: 4vh;
    margin-top: 3vh;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }
  .footer {
    background-color: #050e14;
    padding: 20px 0;
    min-height: 10vw;
    /*   TOOK AWAY "position: fixed;" to let other content in the middle to stay */
    /*   position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4 {
    font-size: 18px;
    color: #f0f2f2;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #7fafa8;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #7ebec4;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #b5f2f8;
    padding-left: 8px;
  }

  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #f0f2f2;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }

  /*responsive*/
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }

  .social-links img {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Maintain aspect ratio */
    background-color: white;
    border-radius: 40px;
    padding: 5px;
    display: inline-block;
  }
</style>
