---
const date = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
	<head>
	<meta name="viewport" content="width=device-width"/>
	<meta name="generator" content={Astro.generator}/>
	<title>Astro</title>
	<style>
	/* #btn{
		@apply bg-violet-500 text-white font-bold py-2 px-4 rounded;
	}	 */
	</style>
	</head>
	<body class="container mx-auto w-3/4">
		<h1>Home Page</h1>
		<!-- <p>copyright {date}</p>
		<button id="btn">click me</button> -->
	</body>
	
	<script>
		// const btn = document.getElementById('btn')
		// btn?.addEventListener('click', () => {
		// 	alert('clicked')
		// })
	</script>